*
{
    /*   *  represents universal selctors for all element of the html */
}

body{
    font:24px;
    background-color: rgb(215, 225, 222)09, 202;
}
p:hover{
    font-style:italic;
    /* psedo selectors */
}
#first>p{
    color:pink;
    /* nested selectors */
}

#first{
    color: red;         
    /* id should be unique */

}
.purple{
    color: purple;
    /* font-family: monospace; */
    /* class can be more than one or can gien to many elements */
}
.highlight{
    font: cursive;
    background: yellow;
    font-weight: bolder;
}
.hello{
    background-color: red;
}

/* grouping selectors */
#second , #third{
    font-size:30px;
    color: green;
}
/* priority of css as accordingly
id>class>element 
id has highest priority
classes should be used more
*/


/* !important is use when some css needs to be inforced forcibly , not to used in general purpose */

