*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #F9F5ED;
}
nav{
    padding: 20px 10%;
    height:15vh;
}
nav ul {
    display:flex;
    align-items: center;
    font-family:Georgia, serif;
}

nav ul li{
    list-style:none;
    margin-right: 5%;
    /* gap: 70px; */
    font-weight: 500px;
}


main{
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-left:10%;
}

.leftmain{
    width:40%;
}
.leftmain h1{
    font-size: 70px;
    font-family:Georgia, serif;
}
.leftmain p{
    margin:5% 0;
    font-family:Georgia, serif;
    font-weight: 700;
}
.leftmain button{
    background-color: green;
    border-radius: 10px;
    padding:15px 20px;
    border:none;
    color: white;
    font-weight: 500px;
}

.rightmain{
    width:60%;
}